In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import statsmodels.formula.api as sm
from sklearn.metrics import accuracy_score

In [2]:
#Importing Dataset
red_wine = pd.read_csv('winequality-red.csv')

In [3]:
x = red_wine.iloc[:,:-1].values
y = red_wine.iloc[:,-1].values

In [4]:
#Scaling the dataset values
sc = StandardScaler()
x = sc.fit_transform(x)
y = sc.fit_transform(y.reshape(-1,1))

D:\Machine Learning\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
D:\Machine Learning\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [5]:
n = len(x)
x0 = np.ones(n)
newX = np.array([x0, x[:,0], x[:,1], x[:,2], x[:,3], x[:,4], x[:,5], x[:,6], x[:,7], x[:,8], x[:,9], x[:,10]])

In [6]:
newX = newX.T

In [7]:
#cost#pd.DataFrame(newX)

In [8]:
#Cost Function
b = np.zeros(newX.shape[1])
def costfunction(X,b,y):
    return np.sum(((X.dot(b)-y)**2)/(2*n))

In [9]:
def grdient_descent(epochs, X, b, y, alpha):
    cost_history = [0]*epochs
    for i in range(epochs):
        pred = X.dot(b)
        loss = pred - y
        grad = X.T.dot(loss)/n
        b = b - alpha*grad
        cost_history[i] = costfunction(X,b,y)
    
    return cost_history, b

In [10]:
epochs = 10000
learning_rate = 0.001
cost, Newb = grdient_descent(epochs, newX, b, y.flatten(), learning_rate)

In [11]:
#Information about the Wine
one = 1
fixed = input('Enter fixed acidity') 
volatile = input('volatile acidity') 
citric = input('citric acid') 
residual = input('residual sugar') 
chloride = input('chlorides') 
free = input('free sulfur dioxide') 
total = input('total sulfur dioxide') 
density = s=input('density') 
ph = input('pH') 
sulphate = input('sulphates') 
alcohol = input('alcohol')

Enter fixed acidity3
volatile acidity1
citric acid2
residual sugar5
chlorides3
free sulfur dioxide6
total sulfur dioxide7
density6
pH0.5
sulphates2
alcohol4

In [12]:
data = [[one,fixed,volatile,citric,residual,chloride,free,total,density,ph,sulphate,alcohol]]
df_1 = pd.DataFrame(data, columns = ['column','fixed acidity','volatile acidity','citric acid','residual sugar','chlorides','free sulfur dioxide','total sulfur dioxide','density','pH','sulphates','alcohol'])
df_1 = df_1.astype(float)

In [13]:
df_1

,column,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,1.0,3.0,1.0,2.0,5.0,3.0,6.0,7.0,6.0,0.5,2.0,4.0

In [14]:
pred = df_1.dot(Newb)

In [15]:
#Inverse Transforming the Scaled Values
pred = sc.inverse_transform(pred)

In [16]:
#Rating of the wine Out of 10
pred

array([6.04092456])